$deep-grey: #282c34;
$white-text: rgba(255,255,255, .89);

body {
  background-color: $deep-grey;
  color: blue;
}

// Example
// nav {
//     height: 70px;
//     background-color: black;
//
//     &.inverted {
//         background-color: white;
//     }
//     ul {
//
//     }
//
//     li {
//
//     }
//
//     a {
//
//     }
// }
